@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

nav {
    width: 100%;
    height: 10vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .logo {
        display: none;
        /* Hide the logo on mobile */
    }
}


.container .logo img {
    margin-left: 100px;
    width: 150px;
    margin-bottom: -90px;

}

.container .links a {
    color: rgb(7, 6, 6);
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0 20px;
    transition: 0.3s linear;
}

.links a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    background-color: #ff105e;
    height: 3.5px;
    transition: 0.3s linear;
}

.links a:hover::before,
.links a:hover {
    color: #ff105e;
    width: 100%;
}

.container .search i {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.3rem;
    margin-right: 20px;
}

/* Section Starts */

section {
    width: 100%;
    height: 90vh;
}

section .content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.content .main-content {
    color: rgb(0, 0, 0);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.main-content h1 {
    font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

.main-content h2 {
    color: #ff105e;
    font-size: clamp(2rem, 1rem + 5vw, 3.5rem);
}

.main-content p {
    margin-top: 10px;
    color: #635e5c;
}

.main-content .order {
    display: flex;
    margin: 20px 10px;
    width: 100%;
    justify-content: space-around;
    min-height: 7vh;
}

.order h3 {
    font-size: 1.8rem;
}

.order button {
    min-width: 50%;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right, #ff105e 40%, #ff105e);
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 0 2px;
    font-size: clamp(0.6rem, 1rem 5vw, 3rem);
    transition: 0.1s linear;
}

.order button:hover {
    box-shadow: 0 0 30px #ff105e;
    background: linear-gradient(to bottom right, #f34db9, #f68c00 40%);
}

.content .image img {
    max-width: 450px;
    width: 100%;
    margin-right: 100px;
    transform: rotate(40deg) translateX(900px);
    filter: drop-shadow(-10px -10px 200px #ff105e);
}

@media (max-width:800px) {
    .content {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .main-content {
        margin: 0 10px;
    }
}

@media (min-width:884px) {
    .content .image img {
        min-width: 500px;
    }
}

@media (max-width:440px) {
    .links {
        display: none;
    }

    .content .image img {
        width: 100%;
        margin-right: none;
    }
}

.main- p.centered-paragraph {
    text-align: center;
}

h5 {
    font-size: 4em;
    color: #ff105e;
    font-weight: bold;
    margin-bottom: 0;
}

.gallery-section {
    background-color: #ffffff;
    padding: 50px 0;
    overflow-y: auto;
}

.gallery-intro {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 600px;
    margin: 0 auto;
}

.gallery-item {
    width: 23%;
    margin: 1%;
    border: 0.1px solid #ff106023;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.gallery-item h1 {
    text-align: center;
    padding: 10px 0;
}

.logo-container {
    text-align: center;
    margin-top: 50px;
}

.logo {
    width: 150px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .social-media {
        margin-top: 20px;
    }
}

h1 {
    font-size: 1em;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0;
}

.home-made {
    font-size: 1em;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}
